extends ../../layouts/default
include ../../modules/form/index.pug

append head
  title Список экранов
block content
  .dialog
    .dialog__window.dialog__window_medium
      +form({
          firstBtn: true,
          secondBtn: true,
          isRow: false
      })

