extends ../../layouts/default
include ../../modules/form/index.pug
include ../../modules/dialog/index.pug

append head
  title Профиль
block content
  aside.sidebar.sidebar_mini
    .sidebar__button
      .rounded-button
        include ../../../static/icons/arrow-left.svg
  main.content
    .profile
      .profile__avatar-wrapper.avatar
        .profile__change-avatar
          .blur-background
          span.text-light.avatar__text Поменять аватар
        .profile__avatar
          include ../../../static/icons/image.svg
      .profile__title.title Иван
      .profile__main
        +form({ firstBtn: false, secondBtn: false, isRow: true })
      .profile__actions
        button.profile__button.button.text-light Сохранить
