mixin dropdown(id, position)
  - const slots = {}

  mixin Slot(key)
    - slots[key] = block

  - block() // Ignore block

  .dropdown(class= position)
    input.dropdown__input(id=id type="checkbox" name="menu")
    if slots.icon
      label.dropdown__label(for=id)
        - slots.icon()
    if slots.actions
      ul.dropdown__submenu
        - slots.actions()
