.dialog {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.blur-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 0;
}

.dialog__window {
    margin: auto;
    width: 340px;
    height: 257px;
    padding: 50px 30px 18px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    z-index: 9999;
}

.dialog__window_medium {
    height: 450px;
}

.dialog__window_large {
    height: 615px;
}