.error-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1.error-block__title {
  margin-bottom: 20px;
}

p.error-block__description {
  margin-bottom: 70px;
}

a.error-block__link {
  color: #3369F3;
}
