- var links = [
-  { title: "Home", href: "/home" },
-  { title: "Login", href: "/login" },
-  { title: "Sign in", href: "/sign_in" },
-  { title: "Profile", href: "/profile" },
- ];

doctype html
html(lang="ru")
  head
    title Список экранов
    script(src="./index.js")
    link(rel="stylesheet", href="./index.css")
  body
    ul
      each link in links
        li
          a(href=link.href)= link.title