mixin dialog()
  - const slots = {}

  mixin Slot(key)
    - slots[key] = block

  - block() // Ignore block

  .dialog
    if (hasBackground)
      .blur-background
    .dialog__window
      h4.dialog__title.subtitle-2(
        class=dialog.title.classes
      )= dialog.title.text
      if slots.content
        .dialog__content
          - slots.content()
      if slots.actions
        .dialog__actions
          - slots.actions()
      .dialog__messages.messages
        .messages__wrapper
          if (dialog.messages)
            each message in dialog.messages
              .messages__message.text-error.caption= message
