extends ../../layouts/default
include ../../modules/dialog/index.pug
include ../../modules/form/index.pug
include ../../modules/dropdown/index.pug

append head
  title Регистрация
block scripts
  script(src="./index.ts")
