extends ../../layouts/default

append head
  title Список экранов
block content
  ul
    -
      var links = [ "404", "500", "Chats", "SignIn", "SignUp", "Profile", "Profile-edit", "Profile-password" ];
    each link in links
      li
        a(href='http://localhost:3000/' + link.toLowerCase() + '/index.html')=link